################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/kloud.test/bin/Debug/netcoreapp2.0
/kloud.test/obj
/kloud.web/.vs
/kloud.web/bin/Debug/netcoreapp2.0
/kloud.web/obj
