@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><b>Applcation Name: </b>@ViewData["ApplicationName"]<br />
    <b>Environment: </b>@ViewData["Environment"]
</p>
